canvas {
    background: url(https://images.squarespace-cdn.com/content/v1/551a19f8e4b0e8322a93850a/1566852559261-T73HBDFMAXQT6YCZ2XYF/ke17ZwdGBToddI8pDm48kCK3ShiwawGuxABpoKgwloNZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpwh_dMjekDz6LTnUxUQCaAGw31Rdx3PRAMZZRXtwzShsDzRNyEwWtnG1Lw7-qrH-cQ/Grass_Sample.png);

    border: 25px solid green;
}
div {
    display: flex;
    justify-content: center;
}

body {
    background-color: white;
}

h2 {
    text-align: center;
    color: red;
}

button {
    margin-top: 20px;
    width: 100px;
    outline: none;
}